<% include head.ejs %>
<div class="container formbox terms_of_use">
<p>
    <strong>Our audience</strong>
</p>
<p>
    Renters and agents who experience the pain of wasted time on futile visits of fundamentally mismatched properties.
</p>
<p>
    <strong>How we will help</strong>
</p>
<p>
    A simple and intuitive set of tools for listing agents to create virtual tours and to manage this proprietary content. Our tools can simultaneously
    increase closing rates, efficiency per customer, and customer overall satisfaction.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Whom are we recruiting</strong>
</p>
<p>
    A select few forward thinking real estate professionals who are willing to work with the inherent imperfections of an early stage product.
</p>
<p>
    <strong>Why we are recruiting</strong>
</p>
<p>
    To continue building successful products and features we need real world feedback from industry professionals.
</p>
<p>
    <strong>How we are recruiting</strong>
</p>
<p>
    If you are reading this, <%=advisorFormalName%> has identified you as an entrepreneurially minded expert in the field and invited to apply.
</p>
<p>
    <strong>What we can offer today</strong>
</p>
<p>
    Our Minimal Viable Product (MVP-1), is a small subset of features that are planning to keep rolling out over the months. Namely to date, we have developed
    a portal through which you can market your listings through virtual guided video tours- saving you time.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Why you should join us</strong>
</p>
<p>
    You will save time from day one and your listings will stand out from competition.
</p>
<p>
    Your input will directly shape the development of our products for your future use.
</p>
<p>
    A lifetime subscription to our products and services, with technical support.
</p>
<p>
    If applicable, promotional placement on our site once we have thousands of users.
</p>
<p>
    The possibility of equity and cash as advisory and partnership compensation commensurate with your on going involvement.
</p>
<p>
    <strong>How you could leave us</strong>
</p>
<p>
    Entrepreneurship, startups and early products are tricky. The only thing that we can guarantee is that some things will inevitably not work properly. The
    only thing that we can guarantee is that technological innovation will quickly catch up with the real estate industry; at VirtualVizzit, we hope to be at
    the forefront of that change with you on board. Long story short, you may leave at any time and for any reason.
</p>
<% include foot.ejs %>