<% include head.ejs %>

<div class="container">

    <div class="row">
        <h1>Co-Founders</h1>

        <div class="col-md-4">
            <img class="team_pic" src="/img/misha_britan.jpg">

            <h1>Misha Britan</h1>

            <h3>CEO</h3>

            <h4>misha@virtualvizzit.com</h4>
        </div>
        <div class="col-md-4">
            <img class="team_pic" src="/img/anatoly_shikolay.jpg">

            <h1>Anatoly Shikolay</h1>

            <h3>Lead developer</h3>

        </div>
        <div class="col-md-4">
            <img class="team_pic" src="/img/ilya_bass.jpg">
            <h1>Ilya Bass</h1>

            <h3>Technical Advisor</h3>
        </div>
    </div>
    <div class="row">
        <h1>Industry partners</h1>

        <div class="col-md-4">
            <h2>Jennifer Kepnes</h2>

            <h4>Kunevich&Lau</h4>


        </div>
        <div class="col-md-4">
            <h2>Amar Ruparelia</h2>

            <h4>Comm Ave Associates</h4>


        </div>
    </div>


</div>

<% include foot.ejs %>


