<% include head.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <img class="pull-left profilePic img-circle" src="http://www.rajeusa.com/dinner/bios/MISHA_BRITAN.jpg">
                <h1>Misha Britan</h1>
                <h3>CEO</h3>
                <h3>misha@virtualvizzit.com</h3>
                <hr class="clearfix">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                <img class="pull-left profilePic img-circle" src="http://qbix.com/img/about/Zak.png">
                <h1>Zak Khalique</h1>
                <h3>CTO</h3>
                <h3>zak@virtualvizzit.com</h3>
                <hr class="clearfix">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                <img class="pull-left profilePic img-circle" src="http://qbix.com/img/about/Greg.png">
                <h1>Greg Magarshak</h1>
                <h3>Technical Advisor</h3>
                <h3>greg@virtualvizzit.com</h3>
                <hr class="clearfix">
            </div>
        </div>
    </div>
</div>

<% include foot.ejs %>


