<% include head.ejs %>

<div class="container">
    <h3>
        If you are a real estate Agent looking to save time and to have unique edge on competition, please contact us for details:
        <a href="mailto:misha@virtualvizzit.com"> misha@virtualvizzit.com</a>
    </h3>
</div>

<% include foot.ejs %>


