<% include head.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="team_pic" src="/img/misha_britan.jpg">

            <h1>Misha Britan</h1>

            <h3>CEO</h3>

            <h3>misha@virtualvizzit.com</h3>
            <hr class="clearfix">
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1>Co-Founders</h1>

                <div class="col-md-6">
                    <h2>Anatoly Shikolay</h2>

                    <h4>Lead developer</h4>

                    <hr class="clearfix">
                </div>
                <div class="col-md-6">
                    <h2>Ilya Bass</h2>

                    <h4>Technical Advisor</h4>

                    <hr class="clearfix">
                </div>
            </div>
            <div class="row">
                <h1>Industry partners</h1>

                <div class="col-md-4">
                    <h2>Grant Simpson</h2>

                    <h4>Coldwell banker</h4>

                    <hr class="clearfix">
                </div>
                <div class="col-md-4">
                    <h2>Jennifer Kepnes</h2>

                    <h4>Kunevich&Lau</h4>

                    <hr class="clearfix">
                </div>
                <div class="col-md-4">
                    <h2>Amar Ruparelia</h2>

                    <h4>Comm Ave Associates</h4>

                    <hr class="clearfix">
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>

</div>

<% include foot.ejs %>


