<% include head_begin.ejs %>
<% include head_end.ejs %>
<div class="container formbox terms_of_use">
      <p ><span class="early_adopter_bold">Our audience</span></p>
      <p ><span >Renters and agents who experience the pain of wasted time on futile visits of fundamentally mismatched properties.</span></p>
      <p ><span class="early_adopter_bold"></span></p>
      <p ><span class="early_adopter_bold">How we will help</span></p>
      <p ><span >A</span><span >&nbsp;simple and intuitive set of tools for listing agents to create virtual tours and to manage this proprietary content. Our tools can simultaneously increase closing rates, efficiency per customer, and customer&rsquo;s overall satisfaction with the renting process. </span></p>
      <p ><span class="early_adopter_bold">Whom we are recruiting</span></p>
      <p ><span >A select few forward thinking real estate professionals who are willing to work with the inherent imperfections of an early stage product; we would need you to understand and to share our vision. </span></p>
      <p ><span ></span></p>
      <p ><span class="early_adopter_bold">Why we are recruiting</span></p>
      <p ><span >To continue building successful products and features we need real-world feedback from industry professionals.</span></p>
      <p ><span class="early_adopter_bold"></span></p>
      <p ><span class="early_adopter_bold">How we are recruiting</span></p>
      <p ><span >If you are reading this, we had probably spoken very recently about doing business together, and would like to invite you to apply as an entrepreneurially minded expert in the field.</span></p>
      <p ><span class="early_adopter_bold"></span></p>
      <p ><span class="early_adopter_bold">What we can offer today</span></p>
      <p ><span >Our Minimal Viable Product (MVP-1), is a small subset of features that we are planning to keep rolling out over the next few months. Namely to date, we have developed a portal through which you can market your listings via virtual guided video tours - saving you time and travel expenses.</span></p>
      <p ><span class="early_adopter_bold">Why you should join us</span></p>
      <p ><span >
          You will save time from day one and your listings will stand out from the competition.<br>
	      Your input will directly shape the development of our products for your future use.<br>
	      A lifetime subscription to our products and services, with technical support.<br>
	      If applicable, promotional placement on our site once we have thousands of viewers.<br>
	      If applicable, posting your ads to Craigslist on your behalf.<br>
	      The possibility of equity and cash as advisory and partnership compensation commensurate with your ongoing involvement.
      </span></p>
      <p ><span ></span></p>
      <p ><span class="early_adopter_bold">How you could leave us</span></p>
      <p ><span >Entrepreneurship, startups and early products are tricky. The only two things that we can guarantee is that some things will inevitably not work properly. And another is that technological innovation will just as inevitably catch up with the real estate industry, uprooting the traditional, inefficient ways; there are countless companies trying to do just that: ZenLy.com, Circumrent.com, Renthackr.com, just to name a few. We don&rsquo;t know which startups will ultimately be successful, at VirtualVizzit however, we hope to be at the forefront of that evolution and with you onboard. Well, long story short, you may disengage at any time and for any reason; we won&rsquo;t take it personally ;). </span></p>
      <p ><span ></span></p>
      <p ><span >Sincerely, </span></p>
      <p ><span >Team, </span></p>
      <p ><span >VirtualVizzit.com</span></p>

</div>
<% include foot.ejs %>