    <div class="contacts-section">
        <div class="copyright-section">
            <p>
                2015 &copy; All Rights Reserved. Virtual Vizzit
            </p>
        </div><!--/copyright-->
    </div>
</div>
<!-- JS Global Compulsory -->
<script type="text/javascript" src="/unify/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/unify/plugins/back-to-top.js"></script>
<!--[if lt IE 9]>
<script src="/unify/plugins/respond.js"></script>
<script src="/unify/plugins/html5shiv.js"></script>
<script src="/unify/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
