<% include head_ga.ejs %>
</head>
<body>
<div class="wrapper">
    <div class="header-v3">
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <% if (bAuth == true) { %>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <% } %>
                    <a class="navbar-brand" href="/">
                        <h3>Virtual Vizzit</h3>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <% if (bAuth == true) { %>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <% if (user == null) { %>
                        <li>
                            <a href="/login">Log in</a>
                        </li>
                        <li>
                            <a href="/team">Team</a>
                        </li>
                        <% } else { %>
                        <li>
                            <a href="/tour">My tours</a>
                        </li>
                        <% } %>
                        <li>
                            <a href="/contactus">Contact</a>
                        </li>

                        <li>
                            <% if (user == null) { %>
                            <a href="/signup">Sign up</a>
                            <% } else { %>
                            <a href="/profile"><%= user.name %></a>
                            <% } %>
                        </li>
                    </ul>
                    <% } %>
                </div>
                <!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
