<% include head_begin.ejs %>
<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/unify/plugins/parallax-slider/css/parallax-slider.css">
<script type="text/javascript">
$(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#cartoonVideo").attr('src');

    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#video").on('hide.bs.modal', function(){
        $("#cartoonVideo").attr('src', '');
    });

    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed again */
    $("#video").on('show.bs.modal', function(){
        $("#cartoonVideo").attr('src', url);
    });
});
</script>
<% include head_end.ejs %>

<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide da-slide-current">
            <h2><i>Virtual Vizzit</i></h2>
            <p><i>Create guided virtual apartment tours</i></p>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <a data-target="#video" class="btn btn-lg btn-primary" data-toggle="modal">show video</a>
            <!-- Modal HTML -->
              <div id="video" class="modal fade">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h4 class="modal-title">Video</h4>
                          </div>
                          <div class="modal-body">
                              <iframe id="cartoonVideo" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
                          </div>
                      </div>
                  </div>
              </div>
            <a data-target="#myform" class="btn btn-lg btn-primary" data-toggle="modal">show form</a>
            <!-- Modal HTML -->
            <div id="myform" class="modal fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Form</h4>
                        </div>
                        <div class="modal-body">
                            <div class="mtm">
                                <div class="name_input">
                                    <input type="text" placeholder="Name"/>

                                    <div class="icon_box">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="email_input">
                                    <input type="text" placeholder="Email"/>

                                    <div class="icon_box">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                </div>
                                <div class="phone_input">
                                    <input type="text" placeholder="Phone"/>

                                    <div class="icon_box icon_phone">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <textarea class="message_input"
                                          placeholder="Your message for agent"></textarea>
                                <div class="contact_submit"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">What we're building</h2>
                <p class="lead">A simple, intuitive set of tools that listing agents and property owners can use to save themselves and their prospective renters time by avoiding futile visits.</p>
                <h2 class="section-heading">Our goal</h2>
                <p class="lead">To save agents and their clients time by enabling them to create and conduct quick and inexpensive virtual tours of residential rental properties.</p>
            </div>
        </div>
    </div>
</div>

<% include foot.ejs %>