<% include head_begin.ejs %>
<% include head_end.ejs %>
<script>
</script>

<script src="/js/vv_misc_ui.js"></script>

<div class="container">
    <br>

    <h2>
        Agent: <%= agent.name %>
    </h2>
    
    <div>
      Showing <%=!archived ? 'Unarchived' : 'Archvied' %> leads.
      <a href="/lead?archivedToggle=<%= !archived%>">Switch to <%=!archived ? 'Archived' : 'Unarchvied' %></a>
    </div>
    
    <% var archToggleButton = archived ? 'Unarchive' : 'Archive';  var archToggleAction = !archived; %>

    <% var leads = activeLeads; var leadsTitle = 'Active leads:'; var noOpen = false; %>    
    <% include leads_table.ejs %>
    
    <% var leads = inactiveLeads; var leadsTitle = 'Inactive leads:'; var noOpen = true; %>
    <% include leads_table.ejs %>
    

</div>
<% include foot.ejs %>