<% include head_begin.ejs %>
<% include head_end.ejs %>
<script>
</script>

<script src="/js/vv_misc_ui.js"></script>

<div class="container">
    <br>

    <div>
        Agent: <%= agent.name %>
    </div>

    <h1>Active leads:</h1>

    <% var leads = activeLeads; %>
    <% include leads_table.ejs %>
    
    <h1>Inactive leads:</h1>
    
    <% var leads = inactiveLeads; %>
    <% include leads_table.ejs %>
    

</div>
<% include foot.ejs %>