    <table class="table table-hover">
        <thead>
        <tr>
            <td>Address</td>
            <td></td>
            <td></td>
            <td>Last active time</td>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < leads.length;i++){ %>
        <tr>
            <td>Address will be here</td>
            <td><a class="btn btn-primary" href="/video/<%= leads[i].property %>?lead=<%= leads[i]._id %>">Open</a></td>
            <td><a class="btn btn-primary" href="/lead/<%= leads[i]._id %>">Details</a></td>
            <td><%= leads[i].lastPing %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
