<% include head.ejs %>
<div class="container formbox terms_of_use">
<p>
    <strong>Thank you for your continued interest in our Beta program!</strong>
</p>
<p>
    <b>We will notify you as soon as we are able to enable you to access our product.</b>
</p>

<% include foot.ejs %>