<% include head_begin.ejs %>
<% include head_end.ejs %>
<div class="container">
    <div class="row">
        <h1>Sign up</h1>

        <div class="col-md-4">
            <div class="formbox">
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="email_input">Email:</label>
                        <input type="text" class="form-control" id="email_input" name="email"/>
                    </div>
                    <div class="form-group">
                        <label for="name_input">Full name:</label>
                        <input type="text" class="form-control" id="name_input" name="name"/>
                    </div>
                    <div class="form-group">
                        <label for="phone_input">Phone:</label>
                        <input type="text" class="form-control" id="phone_input" name="phone"/>
                    </div>
                    <div class="form-group">
                        <label for="agency_input">Agency:</label>
                        <input type="text" class="form-control" id="agency_input" name="agency"/>
                    </div>
                    <div class="form-group">
                        <label for="photo_input">Photo URL:</label>
                        <input type="text" class="form-control" id="photo_input" name="photoURL"/>
                    </div>
                    <div class="form-group">
                        <label for="password_input">Password:</label>
                        <input type="password" class="form-control" id="password_input" name="password"/>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="terms"> I agree to <a href="/useterms">terms of use</a>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<% include foot.ejs %>