<% include head.ejs %>
<div class="container">
    <form action="/signup" method="post">
        <input type="text" name="email"/>
        <input type="text" name="name"/>
        <input type="text" name="agency"/>
        <input type="text" name="photo"/>
        <input type="password" name="password"/>
        <input type="submit"/>
    </form>
</div>
<% include foot.ejs %>