<% include head_begin.ejs %>
<script src="/underscore/underscore-min.js"></script>
<script src="/backbone/backbone.js"></script>
<% include head_end.ejs %>
<script src="/js/vv_misc_ui.js"></script>
<script src="/js/tour_table.js"></script>

<div class="container ptl">
    <div class="row">
        <div class="col-md-8">
            <div class="row tour_table_header">
                <div class="col-md-2">
                    <div class="tour_table_h1">
                        Videos
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tour_table_subh">
                        Information
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="tour_table_subh tour_date_sort">
                        Date <i class="fa fa-angle-up"></i>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="tour_table_content"></div>
        </div>
        <div class="col-md-4">
            <div class="action_box search_box">
                <div class="search_header">Search</div>
                <div>
                    <span class="search_label">Bedrooms</span><input type="text" class="bedroomSearch short_input"/>
                </div>
            </div>
            <a href="/upload"><img src="/img/upload_button.gif"/></a>
        </div>
    </div>

</div>

<script type="application/javascript">
    $(function () {
        var toursCollection = new Backbone.Collection;
        var originalTours = <%- JSON.stringify(tours) %>;
        toursCollection.reset(originalTours);
        var tourTable = new TourTable({
            collection: toursCollection,
            el: $('.tour_table_content')
        });

        var knob = $('.tour_date_sort .fa');

        toursCollection.on('sort', function () {
            tourTable.render();

            knob.toggleClass('fa-angle-down');
            knob.toggleClass('fa-angle-up');

        });

        var orderSign = -1;
        toursCollection.comparator = function (tour) {
            var tourDate = tour.get('creationDate')
            if (tourDate) {
                return orderSign * (new Date(tourDate)).getTime()
            }
            else {
                if (orderSign > 0) {
                    return Infinity;
                }
                else {
                    return 0;
                }

            }

        };

        toursCollection.sort();

        $('.tour_date_sort').on('click', function () {
            orderSign = -1 * orderSign;
            toursCollection.sort();
        });

        var bedroomInput = $('.bedroomSearch');
        var bedroomFilter = function () {
            var bedNum = bedroomInput.val();
            toursCollection.reset(originalTours);
            if(bedNum){
                var filtered = toursCollection.filter(function(tour){
                    return tour.get('beds') == bedNum;
                });
                toursCollection.reset(filtered);
            }
            tourTable.render();
        };
        bedroomInput.on('keyup', _.throttle(bedroomFilter, 100, {leading: false}));
    });

</script>
<% include foot.ejs %>