<% include head.ejs %>
<h1>Video tour</h1>
<iframe src="<%= tour.videoUrl %>" width="800" height="450" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe>
<% include foot.ejs %>