<% include head.ejs %>
<div class="container" style="padding:50px 0;">
    <h1>Video tour</h1>
    <iframe src="<%= tour.videoUrl %>" width="800" height="450" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
</div>
<% include foot.ejs %>