<% include head.ejs %>
<div class="container" style="padding:50px 0;">
    <h1>Tours page</h1>

    <form action="/tour" method="post">
        <label>Video url: <input type="text" name="videoUrl"></label>
        <input type="submit">
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>Tour id</td>
            <td>Video url</td>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < tours.length;i++){ %>
        <tr>
            <td><a href="/tour/<%= tours[i]._id %>"><%= tours[i]._id %></a></td>
            <td><%= tours[i].videoUrl %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% include foot.ejs %>