<% include head_begin.ejs %>
<script src="http://malsup.github.com/jquery.form.js"></script>
<% include head_end.ejs %>

<div class="container">
    <h1>Add video(all fields are optional):</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="formbox">
                <form action="/tour" method="post" id="tour_form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="videofile_input">Video file:</label>
                        <input type="file" class="form-control" id="videofile_input" name="videoFile"/>
                    </div>
                    <div class="form-group">
                        <label for="address_input">Exact Address(not visible to tenant):</label>
                        <input type="text" class="form-control" id="address_input" name="address"/>
                    </div>
                    <div class="form-group">
                        <label>Price:</label>
                        <input type="text" class="form-control" name="price"/>
                    </div>
                    <div class="form-group">
                        <label for="note_input">Agent note's:</label>
                        (prospective tenants will not see it)
                        <input type="text" class="form-control" id="note_input" name="note"/>
                    </div>
                    <div class="form-group">
                        <label for="group_input">Group:</label>
                        (Videos in the same group will be referenced on the same page)
                        <input type="text" class="form-control" id="group_input" name="group"/>
                    </div>
                    <div class="form-group">
                        <label>Bedrooms:</label>
                        <input type="text" class="form-control" name="beds"/>
                    </div>
                    <div class="form-group">
                        <label>Bathrooms:</label>
                        <input type="text" class="form-control" name="baths"/>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="description"/>
                    </div>
                    <div class="form-group">
                        <label>Landlord (hidden from tenant):</label>
                        <input type="text" class="form-control" name="landlord"/>
                    </div>
                    <div class="form-group">
                        <label>General area:</label>
                        <input type="text" class="form-control" name="area"/>
                    </div>



                    <input type="hidden" name="agent" value="<%= user._id %>">

                    <div class="form-group">
                        <div class="progress">
                            <div class="progress-bar" style="width: 0;">
                                0%
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="submit_tour btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(function () {
        var jqTourForm = $('#tour_form');
        var bar = $('.progress-bar');

        var formOptions = {
            beforeSubmit: function () {
                $('.progress').show();
            },
            success: function () {
                document.location = '/tour';
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                bar.html(percentVal);
            }
        };

        jqTourForm.ajaxForm(formOptions);
    });
</script>


<% include foot.ejs %>