.agent_photo {
	float: left;
}

.agent_photo img {
    max-width: 150px;
    max-height: 100px;
    margin: 15px;
}

.agent_name_box {
    text-align: left;
    font-size: 18px;
}

.property_address_box {
    text-align: right;
    font-size: 18px;
}

.agent_name {
    margin-top: 22px;
    text-align: left;
    font-weight: bold;
}

.agent_phone {
    float: left;
    font-style: italic;
    text-align: left;
}
.agent_phone i{
    color: #3498db;
}

.chat_box {
	clear: both;
	float: left;
}

.chat_box .panel-body {
	padding: 2px;
	min-height: 200px;
	max-height: 200px;
	overflow: auto;
}

.chat_other_username {
    font-weight: 800;
    float: left;
    color: blue;
}

.chat_other_user_content {
	float: left;
	font-weight: 400;
	color: blue;
}

.chat_my_username {
    font-weight: 800;
    float: left;
    color: green;
}

.chat_my_content {
    float: left;
    font-weight: 400;
    color: green;
}

.chat_box, .chat_box input {
	width : 100%;
}

.property_map {
    width: 500px;
    height: 100px;
    float: right;
}

#local_video, #remote_video video, .voice_chat {
    display: none;
}

.voice_chat {
    margin-top: 30px;
}

.property_address {
    margin-top: 22px;
}

.team_pic {
    max-height: 205px;
    padding-top: 15px;
}

.formbox {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #e7e7e7;
}

.submit_tour i {
    display: none;
}

.terms_of_use {
    font-weight: 400;
}

.send_tour i {
    margin-right: 5px;
}

.early_adopter_bold {
	font-weight: 800;
}