.agent-box {
    position: relative;
    border-top: 3px solid #d64521;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    padding: 27px 15px;
    box-shadow: 0 0 2px 1px #ededed;
}

.video_box {
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 2px 1px #ededed;
    border-radius: 5px;
}

.agent_photo img {
    max-width: 90px;
    max-height: 90px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 3px 1px #e0e0e0;
    border-radius: 5px;
}

.tour_thumb {
    max-height: 63px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 3px 1px #e0e0e0;
    border-radius: 5px;
}

.tour_address{
    font-size: 16px;
}

.tour_table_header {
    border-bottom: 1px solid #666666;
    padding-bottom: 9px;
}

.tour_table_row {
    margin-top: 17px;
    min-height: 64px;
}

.tour_table_h1 {
    font-size: 18px;
    font-weight: 400;
}

.tour_table_subh{
    position: relative;
    top: 6px;
    font-weight: 200;
}

.agent_info {
    min-height: 90px;
}

.agent_name_box {
    position: absolute;
    top: 29px;
    left: 115px;
    text-align: left;
    font-size: 18px;
}

.agent_name {
    text-align: left;
    font-weight: bold;
}

.agent_phone {
    font-style: italic;
    text-align: left;
}

.agent_phone i {
    color: #3498db;
}

.agent_contact {
    margin-top: 15px;
}

.email_input, .phone_input, .message_input {
    margin-top: -6px;
}

.phone_input input, .name_input input, .email_input input, .contact_submit {
    width: 277px;
    height: 28px;
    padding-left: 34px;
}

.contact_submit {
    background: #d64521;
    color: white;
    width: 277px;
    height: 32px;
    background: url("/img/contact_button.gif");
}

.icon_box {
    width: 24px;
    height: 26px;
    border-right: 1px solid #d9d9d9;
    position: relative;
    bottom: 27px;
    padding-left: 6px;
    padding-top: 3px;

}

.icon_phone {
    padding-left: 7px;
    padding-top: 4px;
}

.message_input {
    width: 277px;
    height: 100px;
}

.box-low-padding {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.property_info_box {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 16px;
    position: relative;
}

.property_description {
    padding: 20px 16px;
}

.property_beds_baths {
    font-size: 18px;
}

.property_price {
    font-size: 21px;
    color: #d64521;
    position: absolute;
    right: 23px;
    top: 24px;
}

#local_video, #remote_video video, .voice_chat {
    display: none;
}

.property_map {
    float: left;
    margin-left: 15px;
    margin-top: 40px;
}

.row-big-top-margin {
    margin-top: 52px;
}

.team_pic {
    max-height: 205px;
    padding-top: 15px;
}

.formbox {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #e7e7e7;
}

.formbox_nomargin {
    padding: 5px;
    border: 1px solid #e7e7e7;
}

.terms_of_use {
    font-weight: 400;
}

.send_tour i {
    margin-right: 5px;
}

.early_adopter_bold {
    font-weight: 800;
}

.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 10px 35px 10px 15px;
}

.alert h4 {
    color: inherit;
    margin-top: 0;
}

.alert-attention {
    background-color: #8FED80;
    border-color: #ff0000;
    color: #B94A48;
}

.alert-attention hr {
    border-top-color: #E6C1C7;
}

.alert-attention .alert-link {
    color: #953B39;
}

.flyover {
    left: 150%;
    overflow: hidden;
    position: fixed;
    width: 30%;
    opacity: 0.97;
    z-index: 1050;
    -webkit-transition: left 1s ease-out 0s;
    transition: left 1s ease-out 0s;
}

.flyover-top-offset {
    top: 200px;
}

.flyover.in {
    left: 70%;
}

.tenant_info {
    display: none;
}

.tenant_time {
    display: inline-block;
}

#tour_form .progress {
    display: none;
}

.textbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ptl {
    padding-top: 26px;
}
